@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
	font-family: 'Inter', sans-serif;
	background-color: #F7FAFC;
}

.sidebar {
	width: 288px;
}

.main-content {
	margin-left: 288px;
	min-height: 100vh;
}

.card {
	background-color: white;
	border-radius: 0.75rem;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -2px rgba(0, 0, 0, 0.06);
}

.nav-active-link {
	background-color: #4a5568;
	font-weight: 700;
	border-right: 4px solid #38A169;
	color: white;
}

@media (max-width: 1024px) {
	.timeline {
		overflow-x: scroll;
	}
}
